*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
}

body{
  background-color: #111;

}

.parent{
  min-height: 100vh;
  width: 100%;
  background-color: #111;
  padding: 30px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}