.card{
    background-color: rgb(72, 10, 131);
    width: 300px;
    height: 370px;
    border: 5px solid #4b0f99;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.outer{
    background-color: #662ab4;
    width: 270px;
    height: 340px;
    border-radius: 25px;
    border : 5px solid rgb(165, 16, 170);
    display: flex;
    flex-direction: column;
}

.up{
    width:100%;
    height:70%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25% ;
    border-bottom-right-radius: 25% ;

}

.down{
    width:auto;
    height:50%;
    background-color: blak;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    padding: 15px;
}

.ability{
    display: flex;
    gap: 50px;
}   

.ability span{
    color: rgb(222, 52, 228) ;
}

.up img{
    height: 100%;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 25% ;
    border-bottom-right-radius: 25% ;
    object-fit: cover;
    z-index: 1;
}

